<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Confirmation Page</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
  <div class="container">
    <h1>Your statement has been stored and processed under the following email:</h1>
    <%= email %>
    <hr>
    <a href="/"><u>HOME</u></a>
  </div>
</body>

</html>