<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Statements Analyzer</title>
</head>

<body>
	<h1>Statements Analyzer</h1>

  <p>
    Welcome. This simple webapp allows you to upload you statement in the form of of an excel file and view insights into your spending.
  </p>

  <button onclick="window.location.href='/inputForm'">
    Analyze New Statement
  </button>

  <button onclick="window.location.href='/validation'">
    View My Insights
  </button>
</body>

</html>