<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Input Form</title>
</head>

<body>
	<h1>Add A New Statement</h1>
  <form id = 'app' action='http://localhost:3000/inputForm' method="post" enctype="multipart/form-data">
    <fieldset>
      <label>Give your statement a name: <input type="text" name="name" placeholder="Ex: M&T Bank November Statement" required/></label>
			<label>Whats your email address? (so we can email you a copy of your insights): <input type="email" name="email"  placeholder="example@notreal.com"></label>
      <br>
      <br>
      <label>Add your statement. Excel files are the only supported format at this time: <input type="file" name="statement"/></label>
      <br>
      <br>
    </fieldset>
    <br>
    <input type = "reset" value = "Reset">
    <input type = "submit" value = "Submit Application" onclick="check(); return false;">
  </form>
  
	<hr>
  <a href = "/"><u>HOME</u></a>
</body>

<script>
  const check = () => {
    let res = confirm('Are you sure you want to submit your statement?');
    if (res) {
      document.getElementById('app').submit();
    }
  }
</script>

</html>