<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Yearly Insights</title>
</head>

<body>
    <h1>Year Insights</h1>

    <p>
        Here are your insights for the year:
    </p>

    You spent a total of: <%= totalAmount %>
    <br>
    You spent the most money at this merchant: <%= merchantBySpending %>
    <br>
    You most frequently shopped with this merchant: <%= merchantByFreq %>
    <br>


    <br>
    Thank You For Using Our Site!

    <hr>
    <a href="/"><u>HOME</u></a>
</body>

</html>